.external-holder {
  // position: absolute;
  // bottom: 0;
  // width: 95%;
  // height: 100%;
  .message-wrapper {
    &:hover {
      background: #f8f8f8;
    }
    .message-content-holder {
      width: 100%;
      display: flex;
      padding: 20px 20px 5px 20px;

      .profile-img-holder {
        margin-right: 10px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 5px;
        }
      }
      .message-content {
        width: 100%;
        color: #1d1c1d;
        position: relative;
        top: -4px;
        .reply {
          display: none;
          margin-left: 10px;
          cursor: pointer;
        }
        &:hover {
          .reply {
            display: initial;
          }
        }
        .user-name {
          font-size: 18px;
          font-weight: 700;
          margin-right: 5px;
        }
        .message {
          width: 100%;
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }

    .threads-count {
      color: #6767b1;
      margin: 0 65px;
      padding: 5px;
      width: 30%;
      border-radius: 4px;
      cursor: pointer;
      .view-threads{
        display: none;
      }
      .fa-chevron-right {
        display: none;
        float: right;
        margin: 5px;
        color: #908e8e;
      }
      &:hover {
        border: 1px solid #b1aeae;
        background-color: white; 
        .no-of-replies {
          display: none;
        }
        .view-threads, .fa-chevron-right {
          display: initial;
        }
      }
      img {
        width: 25px;
        height: 25px;
        margin-right: 7px;
        border-radius: 2px;
      }
      .no-of-replies {
        position: relative;
        top: 1px;
      }
      
    }
  }
  .display-date {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: black;
    .date-border {
      height: 1px;
      border: 1px solid #ddd;
    }
    span {
      position: relative;
      top: -12px;
      background: white;
      padding: 0 10px;
    }
  }
}
