.message-content-holder {
  width: 100%;
  display: flex;
  margin: 5px 0;
  .profile-img-holder {
    margin-right: 10px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 5px;
    }
  }
  .message-content {
    width: 100%;
    color: #1d1c1d;
    position: relative;
    top: -4px;
    .user-name {
      font-size: 18px;
      font-weight: 700;
      margin-right: 5px;
    }
    .message {
      width: 100%;
      font-size: 16px;
    }
  }
}
